<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
	    <link rel="stylesheet" href="/sass/style.css" />

    </head>

    <body class="body">    
        <header id="header" class="primaryHeader">
            <div class="primaryHeader__inner">
                <h1 class="primaryHeader-logo">
                    {% include 'src/assets/svgs/UChicago_CFS_Logo_White.svg' %}
                </h1>

                <h2 class="primaryHeader-title">
                    The Field Work Database
                </h2>
            </div>
        </header>

        <main id="main" class="primaryContent" tabindex="-1">     
            {{ content | safe }}
        </main>

        <script src="/scripts/main.js"></script>
    </body>
</html>
