{%- from 'macros/modal.njk' import modal %}
{%- from 'macros/radio-list.njk' import radio %}

<fieldset class="instructorList">
        
    <button 
        class="instructorList-trigger" 
        data-a11y-dialog-show="instructorModal_dialog"
        type="button">
        <span>Filter By Instructor</span>
        {% include 'src/assets/svgs/icon-expand.svg' %}
    </button>

    {% set sortedList = [] %}
    {% for instructor in instructorList|sort(false, true, 'personnel_last_name') %}
        {% set name = instructor.personnel_first_name + " " + instructor.personnel_last_name %}
        {% set slug   = name|slug %}
        {% set sortedList = (sortedList.push({
            label: name,
            id: slug
        }), sortedList) %}
    {% endfor %}
    
    {% set modalContent %}
        {{ radio({ 
            selector: "instructorList",
            legend: "Select an instructor to filter results", 
            group: "instructor_name",
            content: sortedList,
            modal: true
        }) }}

        <div class="instructorList-buttons">
            <button 
                class="instructorList-action instructorList-action--alt" 
                data-modal-search="clear"
                type="button">
                <span class="instructorList-action-label">Clear</span>
            </button>
            <button 
                class="instructorList-action" 
                data-a11y-dialog-hide="programModal_dialog" 
                aria-label="Close dialog"
                data-modal-search="apply"
                type="button">
                    <span class="instructorList-action-label">Apply</span>
                    {% include 'src/assets/svgs/icon-arrow-right.svg' %}
                </button>
        </div>

    {% endset %}
    {{ modal({ 
        selector: "instructorModal", 
        content: modalContent,
        search: "instructors"
    }) }}
</fieldset>


{# Instructors: Dropdown #}
{#
<div class="searchForm-fieldset">
    <h2 class="searchForm-legend">Filter By Instructor</h2>

    {%- from 'macros/dropdown.njk' import dropdown %}
    {% set dropdownContent = [] %}
    {% for instructor in instructorList %}
        {% set name = instructor.personnel_first_name + " " + instructor.personnel_last_name %}
        {% set dropdownContent = (dropdownContent.push({
            name: name,
            id: name|slug
        }), dropdownContent) %}
    {% endfor %}

    {{ dropdown({ 
        selector: "optionList",
        legend: "Select Instructor", 
        label: "Instructor",
        content: dropdownContent 
    }) }}

</div>
#}