{# Student Types: Checkbox Buttons #}
{%- from 'macros/checkbox-buttons.njk' import checkbox %}

{% set checkboxContent = [] %}
{% for student in studentList %}
    {% set slug = student.slug %}
    {% set label = student.label %}

    {% set checkboxContent = (checkboxContent.push({
        slug: slug,
        label: label
    }), checkboxContent) %}
{% endfor %}

<div class="searchForm-fieldset">
            
    <button 
        class="searchForm-trigger searchForm-trigger--alt" 
        data-a11y-dialog-show="studentModal_dialog"
        type="button">
        <span>Filter By Student Type</span>
        {% include 'src/assets/svgs/icon-expand.svg' %}
    </button>

    {% set studentModalContent %}
        {{ checkbox({ 
            selector: "filterList",
            legend: "Filter By Student Type", 
            instructions: "Select as few or as many student types to filter your results.",
            content: checkboxContent,
            modal: true
        }) }}

        <div class="studentList-buttons">
            <button 
                class="studentList-action studentList-action--alt" 
                data-modal-search="clear"
                type="button">
                <span class="studentList-action-label">Clear</span>
            </button>
            <button 
                class="studentList-action" 
                data-a11y-dialog-hide="programModal_dialog" 
                aria-label="Close dialog"
                data-modal-search="apply"
                type="button">
                    <span class="studentList-action-label">Apply</span>
                    {% include 'src/assets/svgs/icon-arrow-right.svg' %}
                </button>
        </div>
    {% endset %}

        {%- from 'macros/modal.njk' import modal %}
    {{ modal({ 
        selector: "studentModal", 
        content: studentModalContent,
        search: "students"
    }) }}
    
</div>

{#
{% set checkboxContent = [] %}
{% for student in studentList %}
    {% set slug = student.slug %}
    {% set label = student.label %}

    {% set checkboxContent = (checkboxContent.push({
        slug: slug,
        label: label
    }), checkboxContent) %}
{% endfor %}

{{ checkbox({ 
    selector: "filterList",
    legend: "Filter By Student Type", 
    instructions: "Select as few or as many student types to filter your results.",
    content: checkboxContent 
}) }}
#}