/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";
@use "sass:color";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // Reset base font size for easier em & rem calculations: 1em = 10px
	-webkit-overflow-scrolling: touch;
	min-height: -webkit-fill-available;
	scrollbar-gutter: stable; // prevent jump
	position: relative; // logo buddy
	overflow-x: hidden; // logo buddy

	@media ( prefers-reduced-motion: no-preference ) {
		scroll-behavior: smooth;
	}

}

body {
	$max: map-get($breakpoints,'xl');
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: getColor('white');
	color: getColor('black');
	font-family: $font-tertiary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;	

	@include breakpoint(md) {
		font-size: 200%;
	}

	@include breakpoint(lg) {
		font-size: 150%;
	}

	@include breakpoint(xl) {
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: getColor('white',10);
	transition: all .25s ease-in-out;

	&:hover {
		color: getColor('deep');
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

picture,
img {
	display: block;
	max-width: 100%;
}

.viewport {
	&._is-debug::before {
		font-size: 1.1em;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Accessibility Skip
------------------------------------------------------------------------ */
.skip-link {
	border: 1px solid getColor('black');
	border-top: none;
	display: block;
	left: 50%;
	padding: 10px;
	position: absolute;
	z-index: 100;
	transform: translateY(-100%);
	transition: transform 0.3s;
	background: getColor('white');
	color: getColor('black');
	font-weight: 700;

	@include breakpoint(sm) {
		font: normal 1.8em/133% $font-secondary;
	}
}
  
.skip-link:focus {
	transform: translateY(0%);
}

.skip-link:focus-within {
	transform: translateY(0%);
}

/* ---------------------------------------------------------------------
  Shell	
------------------------------------------------------------------------ */
.primaryHeader {
	padding: 2em 0;
	background: getColor('greystone');

	&-title {
		@include getType('h1-lg');
		font-weight: 400;
		text-align: center;
	}
}

.primaryContent {
	padding: 2em;

	@include breakpoint(lg) {
		margin: 0 auto;
		max-width: 1050px;
	}


}

/* ---------------------------------------------------------------------
  Search Form
------------------------------------------------------------------------ */
@include dropdownMenu('.optionList');
@include checkboxButtons('.filterList');
@include savvySearch('.programSearch');

.searchForm {
	margin: 5em auto; // tmp

	&-rule {
		border: 0;
		border-top: 1px dashed $color-primary;
		margin: 3em 0 2em 0;

		&--alt {
			margin-top: 1em;
		}
	}

	&-wrap {
		margin: 0 0 3em 0;
		font-size: 1rem;

		&--primary {
			padding: 2em;
			background: color.scale(getColor('greystone'), $alpha:-55%);
		
			@include breakpoint(lg) {
				padding: 5em;
			}
		}

		&--secondary {
			display: flex;
			flex-flow: row wrap;
		}

		@include breakpoint(lg) {
			display: flex;
			flex-flow: row wrap;
			align-items: end;
		}
	}

	&-fieldset {
		font-size: 1rem;
	}
	
	&-legend {
		@include getType('legend-std');

		&--alt {
			@include visuallyHide;
		}
		
	}

	&-trigger {
		@include globalTrigger();

		&--alt {
			margin-left: -1em;
		}
	}

	&-instructions {
		@include getType('p1-std');
		margin: 1em 0;
	}

	&-buttons {
		display: flex;
		justify-content: center;
	}

	&-submit {
		@include globalButton;
		align-items: center;
		font-size: 1.2rem;

		&--clear {
			margin-left: 0.8em;
			border-color: transparent;
			border-radius: 0;
			text-decoration: underline;
			text-underline-offset: 6px;
		}

	}

	&-criteria {
		margin: 2em 0 3em 0;
		font-size: 1rem;

		&-title {
			@include getType('p1-std');
			font-weight: 400;
			margin-bottom: 1em;
		}

		&-wrap {

			@include breakpoint(lg) {
				display: flex;
			}
			
		}

		&-li {
			@include getType('p1-std');

			&:not(:last-of-type)::after {
				content: "\00a0 : \00a0";
				display: inline-flex;
			}
		}
	}

}

.optionList {
	margin: 2em 0;

	&-legend {
		@include visuallyHide;
	}

	svg {
		position: relative;
    	top: 2px;

		.optionList-input:checked ~ .optionList-trigger & {
			transform: rotate(180deg);
			transition: transform 0.1s ease-in-out;
		}
	}

}

.filterList {
	$filter: &;
	display: flex;
	flex-flow: row wrap;
	margin: 2em 0;
}

.programSearch {

	@include breakpoint(lg) {
		margin-right: 1em;
	}

	&-legend {
		@extend .searchForm-legend;
	}

	&-instructions {
		@extend .searchForm-instructions;
	}
}

.searchResults {
	margin: 5em 0 100em 0;
	opacity: 1;
	transition: $fade-transition, $slide-transition;
	transform: translateY(0);

	&._is-inactive {
		opacity: 0;
		transform: translateY(50px);
	}

	&-count {
		@include getType('h2-lg');
		margin: 0 0 1em 0;
	}

}

.resultItem {
	$selector: &;
	border-bottom: 1px solid getColor('black');
	padding: 4em 0;
	font-size: 1rem;

	// @include breakpoint(lg) {
	// 	display: flex;
	// 	flex-flow: row wrap;
	// }

	// &-group {

	// 	&--info {

	// 		@include breakpoint(lg) {
	// 			flex: 0 1 50%;
	// 		}


	// 	}

	// }

	&-category {
		@include getType('h4-lg');
		font-weight: 400;
		margin: 1em 0;

		#{$selector}-group--info & {
			@include visuallyHide;
		}

	}

	&-list {
		#{$selector}-group--location & {
			display: flex;
			flex-direction: row wrap;
		}
	}

	// Detail-specific rendering
	&-detail {
		$detail: &;
		// display: flex;
		// align-items: center;

		&--program-id {
			@include visuallyHide;
		}

		&-dt {
			@include getType('h4-lg');
			display: block;
			margin: 0.5em 0;
			font-weight: 400;

			#{$detail}--program-name & {
				@include visuallyHide;
			}

			#{$selector}-group--location & {
				@include visuallyHide;
			}

		}

		&-dd {
			@include getType('p1-std');
			line-height: 180%;

			#{$detail}--program-name & {
				@include getType('h4-lg');
				font-weight: 400;
			}

			#{$selector}-group--location & {
				margin-right: 0.2em;
				
				&::after {
					content: ", ";
					display: inline-flex;
				}
			}

			.resultItem-detail--program-zip & {
				&::after {
					content: "";
				}
			}
		}

	}

}


/* ---------------------------------------------------------------------
  Modal
------------------------------------------------------------------------ */
@include modal('.programModal');
@include modal('.studentModal');
@include modal('.instructorModal');
@include radioList('.programList');
@include radioList('.instructorList');

.programList,
.instructorList {
	$gradient-height: 8em;

	&-wrap {
		height: 100%;
		position: relative;
		margin-top: $gradient-height * -0.5;
		
		@include gradientFade('top',$gradient-height);
		@include gradientFade('bottom',$gradient-height);
	}

	&-trigger {
		@include globalTrigger();
	}

	&-options {
		$thumb-color: getColor('greystone');
		max-height: 100%;
		padding: $gradient-height 1em $gradient-height 0;
		overflow-y: auto;
		position: relative;

		@include customScrollbar($thumb-color);
	}
}

.programList {

	&-trigger {
		margin: 1em auto 0 auto;
		display: block;
	}

	&-buttons {
		@include globalButtonPair('.programList');
	}
}

.instructorModal {

	&-content {
		min-width: 500px;
	}
}

.instructorList {

	&-buttons {
		@include globalButtonPair('.instructorList');
	}
}

.studentList {
	&-buttons {
		@include globalButtonPair('.studentList');
	}
}


/* ---------------------------------------------------------------------
  Program Detail
------------------------------------------------------------------------ */
.programDetail {


	&-title {
		@include getType('h2-lg');
		margin-bottom: 1em;
	}

	&-subtitle {
		@include getType('h4-lg');
		margin-bottom: 0.5em
	}

	&-logo {
		background: getColor('greystone');
	}

	&-wrap {
		display: flex;
		flex-direction: row nowrap;

		&--header {
			margin-bottom: 2em;
		}

		&--aside {
			border-right: 1px solid getColor('greystone');
			padding-right: 2em;
			margin-right: 2em;
		}
	}

	&-col {
		flex: 0 1 auto;

		&:nth-child(2) {
			margin-left: 1em;
		}

	}

	&-copy {
		margin-bottom: 2em;
		line-height: 1.5;
		max-width: 550px;

		p {
			margin: 0 0 1em 0;
		}
	}

	&-aside-title {
		@include getType('h5-lg');
		font-weight: 400;
		margin-bottom: 0.5em;
	}
	
	&-list {
		margin-bottom: 2em;

		&-item {
			line-height: 1.5;

			&--alt {
				line-height: 2;
			}

		}
	}

	&-cta {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	&-icon {
		display: inline-flex;
		margin-right: 0.5em;
	}

}
