/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";
@use "sass:color";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // Reset base font size for easier em & rem calculations: 1em = 10px
	-webkit-overflow-scrolling: touch;
	min-height: -webkit-fill-available;
	scrollbar-gutter: stable; // prevent jump
	position: relative; // logo buddy
	overflow-x: hidden; // logo buddy

	@media ( prefers-reduced-motion: no-preference ) {
		scroll-behavior: smooth;
	}

}

body {
	$max: map-get($breakpoints,'xl');
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: getColor('white');
	color: getColor('black');
	font-family: $font-tertiary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;	

	@include breakpoint(lg) {
		font-size: 150%;
	}

	@include breakpoint(xl) {
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: getColor('white',10);
	transition: all .25s ease-in-out;

	&:hover {
		color: getColor('deep');
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

picture,
img {
	display: block;
	max-width: 100%;
}

.viewport {
	&._is-debug::before {
		font-size: 1.1em;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Shell	
------------------------------------------------------------------------ */
.primaryHeader {
	padding: 2em 0;
	background: getColor('brick');

	.primaryHeader__inner {
  	margin: 0 auto;
		max-width: 1300px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * {
			flex: 0 1 50%;
		}
	}
	
	&-logo {
		max-width: 400px;
		padding-right: 2em;
	}

	&-title {
		@include getType('h1');
		color: getColor('white');
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
	}
}

.primaryContent {
	padding: 2em;

	@include breakpoint(lg) {
		width: 100%;
		margin: 0 auto;
		max-width: 1050px;
	}

}