/* _styleguide.scss */
@use "mixins" as *;
@use "helpers" as *;
@use "config" as *;
@use "sass:math";
@use "sass:string";
@use "sass:list";

/* ---------------------------------------------------------------------
 _styleguide contains project-specific style patterns
------------------------------------------------------------------------ */
// svg path, relative to compiled stylesheet
$svg-path: '../svgs/';
$img-path: '../images/';

/* ---------------------------------------------------------------------
 Type Map

 1. ems based on 1rem-sized parent
 2. relative line-heights
 3. add as many type-related declarations as needed

 Example:
 
 "h1-lg": (
	font: 11em/109% $font-primary,
	letter-spacing: 0.01em
 ),
 "h2-lg": (
	font: 8em/90% $font-secondary,
	letter-spacing: 0.02em,
	text-transform: uppercase
),
------------------------------------------------------------------------ */
$text-map: (

	// AOTM type
	/////////////////////
	// Headlines 0
	"h0-lg": (),	
	"h0-sm": (),	
	// Headlines 1
	"h1-lg": (
		font-family: $font-primary,
		font-feature-settings: var(--ffs),
		font-size: 11em,
		font-weight: 200,
		letter-spacing: 0.01em,
		line-height: 109%
	),
	"h1-sm": (),
	// Headlines 2
	"h2-lg": (
		font-family: $font-primary,
		font-feature-settings: var(--ffs),
		font-size: 7em,
		font-weight: 200,
		letter-spacing: 0.01em,
		line-height: 114%
	),
	"h2-sm": (),
	// Headlines 3
	"h3-lg": (
		font-family: $font-primary,
		font-feature-settings: var(--ffs),
		font-size: 5em,
		font-weight: 200,
		letter-spacing: 0.025em,
		line-height: 120%
	),
	"h3-sm": (),
	// Headlines 4
	"h4-lg": (
		font-family: $font-primary,
		font-feature-settings: var(--ffs),
		font-size: 4.5em,
		font-weight: 200,
		letter-spacing: 0.025em,
		line-height: 122%
	),
	"h4-sm": (),
	// Headlines 5
	"h5-lg": (
		font-family: $font-primary,
		font-feature-settings: var(--ffs),
		font-size: 4em,
		font-weight: 200,
		letter-spacing: 0.025em,
		line-height: 133%
	),
	"h5-sm": (),
	// Non-headlines
	"p1-mono": (
		font-family: $font-secondary,
		font-feature-settings: var(--ffs),
		font-size: 2.2em,
		letter-spacing: 0.025em,
		line-height: 136%
	),
	"p1-std": (
		font: 2.2em/136% $font-tertiary,
		font-weight: 300,
		letter-spacing: 0.025em
	),
	"p2-mono": (
		font-family: $font-secondary,
		font-feature-settings: var(--ffs),
		font-size: 1.8em,
		letter-spacing: 0.015em,
		line-height: 139%
	),
	"p2-std": (
		font: 1.8em/139% $font-tertiary,
		font-weight: 300,
		letter-spacing: 0.015em
	),
	"p2-std-bold": (
		font: 1.8em/139% $font-quaternary,
		letter-spacing: 0.015em
	),
	"input-std": (
		font: 1.6em/156% $font-tertiary,
		letter-spacing: 0.015em
	),
	"caption-p": (
		font: 1.4em/143% $font-tertiary,
		letter-spacing: 0.015em
	),
	"caption-p-bold": (
		font: 1.4em/143% $font-quaternary,
		letter-spacing: 0.015em
	),
	"caption-title": (
		font: 1.4em/179% $font-quaternary,
		font-weight: 700,
		letter-spacing: 0.2em,
		text-transform: uppercase
	),
	"detail-std": (
		font: 1.2em/167% $font-quaternary,
		letter-spacing: 0.015em
	),
	"detail-mono": (
		font-family: $font-secondary,
		font-feature-settings: var(--ffs),
		font-size: 1.2em,
		letter-spacing: 0.015em,
		line-height: 167%
	),
	"nav-mono": (
		font-family: $font-secondary,
		font-feature-settings: var(--ffs),
		font-size: 1.6em,
		letter-spacing: 0.015em,
		line-height: 250%
	),

	// Firestarter type
	/////////////////////
	"fs-h0-lg": (
		font: 10em/86% $fs-font-primary,
		letter-spacing: 0.02em
	),	
	"fs-h0-sm": (),
	"fs-h3-lg": (
		font: 5em/86% $fs-font-primary
	),	
	"fs-h3-sm": (),
	"fs-h4-lg": (
		font: 3em/86% $fs-font-primary,
		letter-spacing: 0.015em
	),	
	"fs-h4-sm": (),
	"fs-h5-lg": (
		font: 2em/86% $fs-font-primary,
		letter-spacing: 0.015em
	),	
	"fs-h5-sm": (),
	// Non-headlines
	"fs-p1": (
		font: 2em/150% $fs-font-secondary,
		letter-spacing: 0.015em
	),
	"fs-p2": (),
	"fs-p3": (),
	
);

/* ---------------------------------------------------------------------
 Type Map

 Example Usage:
 getType('h2-lg');
------------------------------------------------------------------------ */
@mixin getType($name) {
	$type-attrs: map-get($text-map, $name);

	// Explode the attr-props
	@each $attr, $prop in $type-attrs {
		#{$attr}: $prop;
	}
}


/* ---------------------------------------------------------------------
	Text Block
------------------------------------------------------------------------ */
@mixin text-block {
	h3,
	h4 {
		@include getType('caption-title');
		max-width: 30em;

		@media screen and (min-width: map-get($breakpoints,'md')) {
			margin-bottom: var(--space-xxs);
		}
	}

	p,
	ul,
	ol {
		@include getType('p2-std');
		
		@media screen and (min-width: map-get($breakpoints,'md')) {
			@include getType('p1-std');
		}

		max-width: 30em;

		&:not(:last-child) {
			margin-bottom: 1.4545454545em;
		}
	}

	ul {
		list-style-type: disc;

		li {
			margin-left: 0.8888888889em;
		}
	}

	ol {
		list-style-type: decimal;

		li {
			margin-left: 1.2222222222em;
			padding-left: 0.2222222222em;
		}
	}

	ul, ol {
		li {
			padding-left: 0.2222222222em;

			&:not(:last-child) {
				margin-bottom: 0.2222222222em;
			}
		}
	}
}


/* ---------------------------------------------------------------------
	Rhythm
------------------------------------------------------------------------ */
@mixin rhythm-md {
	> * {
		&:not(:last-child) {
			margin-bottom: var(--space-md);
		}
	}
}

@mixin rhythm-lg {
	> * {
		&:not(:last-child) {
			margin-bottom: var(--space-lg);
		}
	}
}

@mixin rhythm-xl {
	> * {
		&:not(:last-child) {
			margin-bottom: var(--space-xl);
		}
	}
}

@mixin rhythm-xxl {
	> * {
		&:not(:last-child) {
			margin-bottom: var(--space-xxl);
		}
	}
}

@mixin rhythm-xxxl {
	> * {
		&:not(:last-child) {
			margin-bottom: var(--space-xxxl);
		}
	}
}