/* _results.scss */
@use "../utils/_utils" as *;
@use "components/__components" as *;
@use "sass:string";
@use "sass:math";
@use "sass:color";

/* ---------------------------------------------------------------------
  Search Form
------------------------------------------------------------------------ */
@include dropdownMenu('.optionList');
@include checkboxButtons('.filterList');
@include savvySearch('.programSearch');

.searchForm {
	&-rule {
		border: 0;
		border-top: 1px dashed $color-primary;
		margin: 3em 0 2em 0;

		&--alt {
			margin-top: 1em;
		}
	}

	&-wrap {
		margin: 0 0 3em 0;
		font-size: 1rem;

		&--primary {
			padding: 2em;
			background: color.scale(getColor('greystone'), $alpha:-55%);
		
			@include breakpoint(lg) {
				padding: 5em;
			}
		}

		&--secondary {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 0;
		}

		@include breakpoint(lg) {
			display: flex;
			flex-flow: row wrap;
			align-items: end;
		}
	}

	&-fieldset {
		font-size: 1rem;
		
		&--container {
			padding: 5em;
			margin: 0 0 3em 0;
			background: color.scale(getColor('greystone'), $alpha:-55%);
		}
		
	}
	
	&-legend {
		@include getType('legend-std');

		&--alt {
			@include visuallyHide;
		}
		
	}

	&-trigger {
		@include globalTrigger();

		&--alt {
			margin-left: -1em;
		}
	}

	&-instructions {
		@include getType('p1-std');
		margin: 1em 0;
	}

	&-buttons {
		display: flex;
		justify-content: center;
	}

	&-submit {
        $bg: getColor('brick');
		$text: getColor('white');
		@include globalButton($text,$bg);
		align-items: center;
		font-size: 1.2rem;

		&--clear {
			margin-left: 0.8em;
			border-color: transparent;
			background-color: transparent;
			border-radius: 0;
			color: getColor('white');
			text-decoration: underline;
			text-underline-offset: 6px;
		}

	}

	&-criteria {
		margin: 2em 0 3em 0;
		padding: 5em;
		font-size: 1rem;
		background: getColor('brick');
		color: getColor('white');

		&-title {
			@include getType('p1-std');
			font-weight: 400;
			margin-bottom: 1em;
		}

		&-wrap {

			@include breakpoint(lg) {
				display: flex;
			}
			
		}

		&-list {
			margin-bottom: 3em;
		}

		&-li {
			@include getType('p1-std');

			&:not(:last-of-type)::after {
				content: "\00a0 : \00a0";
				display: inline-flex;
			}
		}
	}

}

.optionList {
	margin: 2em 0;

	&-legend {
		@include visuallyHide;
	}

	svg {
		position: relative;
    	top: 2px;

		.optionList-input:checked ~ .optionList-trigger & {
			transform: rotate(180deg);
			transition: transform 0.1s ease-in-out;
		}
	}

}

.filterList {
	$filter: &;
	display: flex;
	flex-flow: row wrap;
	margin: 2em 0;
}

.programSearch {

	@include breakpoint(lg) {
		margin-right: 1em;
	}

	&-legend {
		@extend .searchForm-legend;
	}

	&-instructions {
		@extend .searchForm-instructions;
	}
}

/* ---------------------------------------------------------------------
  Modal
------------------------------------------------------------------------ */
@include modal('.filterModal');
@include radioList('.programList');
@include radioList('.criteriaList');

.programList,
.criteriaList {
	$gradient-height: 8em;

	&-wrap {
		height: 100%;
		position: relative;
		margin-top: $gradient-height * -0.5;
		
		@include gradientFade('top',$gradient-height);
		@include gradientFade('bottom',$gradient-height);
	}

	&-trigger {
		@include globalTrigger();
	}

	&-options {
		$thumb-color: getColor('greystone');
		max-height: 100%;
		padding: $gradient-height 1em $gradient-height 0;
		overflow-y: auto;
		position: relative;

		@include customScrollbar($thumb-color);
	}
}

.programList {

	&-trigger {
		margin: 1em auto 0 auto;
		display: block;
	}

	&-buttons {
		@include globalButtonPair('.programList');
	}
}

.instructorModal {
	&-content {
		min-width: 500px;
	}
}

.filterList {
	max-height: 400px;
    overflow-y: scroll;
	
	&-buttons {
		@include globalButtonPair('.filterList');
	}
}


/* ---------------------------------------------------------------------
  Result Container
------------------------------------------------------------------------ */
.searchResults {
	padding: 2em 0 5em 0;
	opacity: 1;
	transition: $fade-transition, $slide-transition;
	transform: translateY(0);

	&._is-inactive {
		opacity: 0;
		transform: translateY(50px);
	}

	&-header {
		padding: 3.5em 0 4em 0;
	}

	&-heading {
		@include getType('h2');
		color: getColor('brick');
	}

	&-supporting-text {
		margin-block-start: 2em;
		max-width: 45em;
		@include getType('p1-detail');
		font-size: 15px;
		line-height: 1.5;

		p + p {
			margin-block-start: 1.25em;
		}

		a {
			@include actionAnchor();
		}
	}

	&-container {
		@include breakpoint(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 32px;
		}

		&[data-columns="2"] {

		}

		&:not([data-columns="2"]) {
			@include breakpoint(lg) {
				grid-template-columns: 1fr 1fr 1fr;
			}	
		}
	}
}

/* ---------------------------------------------------------------------
  Result Excerpt: Card
---------------------------------------------------------------------- */
.cardItem {
    font-size: 1rem;
    margin: 0 0 2em 0;
    padding: 0 0 4em 0;
    border-bottom: 1px solid getColor('greystone',10);

		&:last-child {
			border-bottom: none;
		}

		@include breakpoint(md) {
			&:nth-child(odd):nth-last-child(2) {
				border-bottom: none;
			}
		}

		@include breakpoint(lg) {
			&:nth-child(odd):nth-last-child(3),
			&:nth-child(even):nth-last-child(2) {
				border-bottom: none;
			}
		}

    &-title {
        @include getType('h3');
        margin-bottom: 1em;

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: getColor('black');
            text-decoration: none;
        }
    }

    &-content {
        @include getType('p1-std');
        margin: 0 0 1em 0;
    }

    &-action {
      vertical-align: middle;
      @include actionAnchor();
      @include getType('p1-std');

      &:hover {
        @include actionHover();
      }

      &-icon {
        display: inline-flex;

        &--sm {
        	svg {
          	height: 12px;
            width: 12px;
          }        
        }
      }  
    }
}

/* ---------------------------------------------------------------------
  Pagination
------------------------------------------------------------------------ */
.searchPagination {
	$pagination: &;
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid getColor('greystone',10);

	&-list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		> {
			flex: 0 1 auto;
		}
	}

	&-item {
		margin: 0 0.5em;

		&--next {
			margin-left: 3em;
		}

		&--prev {
			margin-right: 3em;
		}
	}

	&-pg {
		color: getColor('brick');
		text-underline-offset: 0.3em;

		&._is-current {
			color: getColor('black');
		}

		#{$pagination}-item--next &, 
		#{$pagination}-item--prev & {
			display: flex;
			align-items: center;
		}
		
		svg {
			fill: getColor('brick');
		}

	}

}