---
title: Crown Family School
layout: "base.njk"
pagination:
    data: organizationList
    size: 1
    alias: org
permalink: "detail/{{ org.PROGRAM_ID }}/"
data: dataTranslator
--- 
{% import "./_includes/macros/result.njk" as result %}

{{ result.item(org,'detail',dataTranslator) }}
