---
title: Crown Family School
layout: "base.njk"
pagination:
    data: organizationList
    size: 1
    alias: org
permalink: "program/detail/{{ org.PROGRAM_ID }}/"
data: dataTranslator, populationList, clinicalList
--- 
{% import "./_includes/macros/result.njk" as result %}

{{ result.item(org,'detail',dataTranslator,populationList) }}
