---
title: Crown Family School
layout: "base.njk"
pagination:
  data: organizationList
  size: 30
  alias: programs  

permalink: "program/search/page-{{ pagination.pageNumber + 1 }}/index.html"
data: dataTranslator, studentList, instructorList, populationList, clinicalList, socialList, keywordList
--- 
{% import "./_includes/macros/result.njk" as result %}
{% import './_includes/macros/filters.njk' as filter %}

<form 
    action="" 
    method="post" 
    class="searchForm"
    data-search-filters="form">
    
    <div class="searchForm-wrap searchForm-wrap--primary">
        {% include 'fieldsets/organizations.njk' %}
    </div>

    <div class="searchForm-fieldset searchForm-fieldset--container">
        <h3 class="searchForm-legend">Filter Results By Criteria</h3>
        <p class="searchForm-instructions">Select as few or as many criteria to further refine search results.</p>

        <div class="searchForm-wrap searchForm-wrap--secondary">
            {% set filter_types = [
                {'slug':'students','title': 'Students','hook':'student','data': studentList,'type':'checkbox'},
                {'slug':'population','title':'Population','hook':'population','data': populationList, 'type': 'checkbox'},
                {'slug':'clinical','title':'Clinical','hook':'clinical','data': clinicalList, 'type': 'checkbox'},
                {'slug':'social','title':'Social','hook':'social','data': socialList, 'type': 'checkbox'},
                {'slug':'keywords','title':'Keywords','hook':'keywords','data': keywordList, 'type': 'checkbox'} 
            ] %}
        
            {% for filter_obj in filter_types %}
                {{ filter.checkbox_fieldset(filter_obj) }}
            {% endfor %}
        
        </div>
    
    </div>

    <div class="searchForm-criteria">
        <p class="searchForm-legend">You are filtering by:</p>
        <ul class="searchForm-instructions searchForm-criteria-list" data-search-filters="criteria">
            <li class="searchForm-criteria-li" data-search-criteria="all">All Organizations</li>
        </ul>

        <div class="searchForm-buttons">
            <button
                class="searchForm-submit"
                data-search-filters="submit" 
                type="submit">
                <span class="searchForm-submit-label">Get Results</span>
                {% include 'src/assets/svgs/icon-arrow-down.svg' %}
            </button>
            <button
                class="searchForm-submit searchForm-submit--clear"
                data-search-filters="clear" 
                type="submit">
                <span class="searchForm-submit-label">Clear Filters</span>
            </button>
        </div>
    </div>

</form>

<div 
    id="searchResults" 
    class="searchResults"
    data-search-filters="results">

    {% set pageCount = pagination.pages.length %}
    <h2 class="searchResults-count">Showing {{ programs|length }} Results of {{ pageCount }} {% if pageCount > 1 %}Pages{% else %}Page{% endif %}</h2>

    <div class="searchResults-container">
    {% for org in programs %}
        {{ result.item(org,'excerpt',dataTranslator) }}
    {% endfor %}
    </div>

    {% include 'partials/_pagination.njk' %}
    
</div>