---
title: Crown Family School
layout: "base.njk"
data: organizationList, dataTranslator
--- 
{% import "./_includes/macros/card.njk" as card %}

<form 
    action="" 
    method="post" 
    class="searchForm"
    data-search-filters="form">
    
    <div class="searchForm-wrap searchForm-wrap--primary">
        {% include 'fieldsets/organizations.njk' %}
    </div>

    <hr class="searchForm-rule" />

    <div class="searchForm-fieldset">
        <h3 class="searchForm-legend">Filter Results By Criteria</h3>
        <p class="searchForm-instructions">Select as few or as many criteria to refine search results.</p>

        <div class="searchForm-wrap searchForm-wrap--secondary">
            {% include 'fieldsets/students.njk' %}
            {% include 'fieldsets/instructors.njk' %}
        </div>
    
    </div>

    <hr class="searchForm-rule searchForm-rule--alt" />

    <div class="searchForm-criteria">
        <p class="searchForm-criteria-title">You are searching by:</p>
        <ul class="searchForm-criteria-wrap" data-search-filters="criteria">
            <li class="searchForm-criteria-li" data-search-criteria="all">All Organizations</li>
        </ul>
    </div>

    <div class="searchForm-buttons">
        <button
            class="searchForm-submit"
            data-search-filters="submit" 
            type="submit">
            <span class="searchForm-submit-label">Show Results</span>
            {% include 'src/assets/svgs/icon-arrow-down.svg' %}
        </button>
        <button
            class="searchForm-submit searchForm-submit--clear"
            data-search-filters="clear" 
            type="submit">
            <span class="searchForm-submit-label">Clear Filters</span>
        </button>
    </div>

</form>

{# _is-inactive #}
<div 
    id="searchResults" 
    class="searchResults"
    data-search-filters="results">

    <h2 class="searchResults-count">Showing 11 Results</h2>

    <div class="searchResults-container">
        {% for org in organizationList %}
            {{ card.excerpt(org,dataTranslator) }}
        {% endfor %}
    </div>
</div>